
 <!-- <div class="container">
<div class='panel panel-primary' >
    <div #test class='panel-heading'>
        {{name}}
    </div>
<div class='panel-body'>
<div class='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <th>Campus ID</th>
                <th>Campus Name</th>
                <th>Campus Details</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let campus of campuses '>
                <td><a [routerLink]="['/campuses',campus.campusId]">{{ campus.campusId }}
                    </a></td>
                <td><a></a>{{ campus.campusName }}</td>
                <td>{{ campus.campusDetails}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div> -->

 <div class="container">
    <table class="table table-hover" *ngIf="campuses">
            <thead class="panel panel-primary">
              <tr>
                <th scope="col">Campus ID</th>
                <th scope="col">Campus Name</th>
                <th scope="col">Campus Details</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-primary"
              *ngFor='let campus of campuses'>
                <td><a [routerLink]="['/campuses',campus.campusId]">{{ campus.campusId }}
                </a></td>
                <td>{{ campus.campusName }}</td>
                <td>{{ campus.campusDetails}}</td>
                <td><button [routerLink]="['/campuses',campus.campusId]">Details
                    </button>
                </td>
              </tr>
            </tbody>
    </table>
