<div class="container">
<div class='panel panel-primary' >
  <div class="panel-heading">{{campus.campusName}}
  </div>
  <div class="camp" *ngIf='campus' class="panel-body">
    <div>
      <h1 class="name">{{campus.campusName}}</h1>
    </div>
    <div>
      <h3>{{campus.campusDetails}}</h3>
    </div>
    <div>
      <img [src]='campus.campusImage'>
    </div>
    <div class='panel-footer'>
      <a class='btn btn-default' (click)='onBack()' data-ng-style='width:80px'>
        <i class='glyphicon glyphicon-chevron-left'>Back</i>
      </a>
      <a class="btn btn-primary" [routerLink]="['/students',campus.campusId, 'campus']">Students
      </a>
      <button class="btn btn-primary"
        [routerLink]="['/campuses',campus.campusId, 'edit' ]">Add Student</button>
    </div>
  </div>
</div>
</div>
