
<div class="container">
<table class="table table-hover"
    *ngIf="filteredStudents">
        <thead class="panel panel-primary">
          <tr>
            <th scope="col">Student-Id</th>
            <th scope="col">Student-Name</th>
            <th scope="col">CampusID</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-primary" #filterStudents
            *ngFor='let student of filteredStudents'>
            <!-- <th scope="row"></th> -->
            <td><a [routerLink]="['/students',student.studentId]">{{ student.studentId}}
            </a></td>
            <td>{{ student.name }}</td>
            <td>{{ student.campusID}}</td>
            <td>
              <button [routerLink]="['/students',student.studentId]">Details
            </button>
            </td>
          </tr>
        </tbody>
</table>

<table class="table table-hover" *ngIf="!filteredStudents">
        <thead #panel class="panel panel-primary">
          <tr>
            <th scope="col">Student-Id</th>
            <th scope="col">Student-Name</th>
            <th scope="col">CampusID</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-primary" #filterStudents
            *ngFor='let student of students'>
            <!-- <th scope="row"></th> -->
            <td><a [routerLink]="['/students',student.studentId]">{{ student.studentId}}
            </a></td>
            <td>{{ student.name }}</td>
            <td>{{ student.campusID}}</td>
            <td>
              <button [routerLink]="['/students',student.studentId]">Details
              </button>
            </td>
          </tr>
        </tbody>
</table>
</div>
