
<div class="container">
<div class='panel panel-primary' >
  <div id='stud' *ngIf='student'>
    <div  >
      <h3>StudentId {{student.studentId}}</h3>
    </div>
    <div>
      <p>Student Name- {{student.name}}</p>
      <p>Student Email- {{student.email}}</p>
      <p>Student Gpa- {{student.gpa}}</p>
      <p>Campus- {{student.campus}}</p>
      <p>Campus Id- {{student.campusId}}</p>
    </div>
    <div>

    </div>
    <div class='panel-footer'>
      <a class='btn btn-default' (click)='onBack()' data-ng-style='width:80px'>
        <i class='glyphicon glyphicon-chevron-left'>Back</i>
      </a>

    </div>
  </div>
</div>
</div>
