
<!-- <div class="container">
    <div class='panel panel-primary' >
        <div class="panel-heading">
            {{" Student- "+ student.name }}
        </div>
        <div class="camp" *ngIf='student'   class="panel-body">
            <div>
              <h4 class="name">Student-Id: {{student.studentId}}</h4>
            </div>
            <div>
              <h4>Name: {{student.name}}</h4>
            </div>
            <div>
              <h4>Email: {{student.email}}</h4>
            </div>
            <div>
                <h4>Gpa: {{student.gpa}}</h4>
            </div>
            <div class='panel-footer'>
                <button type="button"
                    class="btn btn-primary"
                    (click)='onBack()'
                    >Back
                </button>
                <button type="button"
                    class="btn btn-primary"
                    (click)="editStudent()">Edit
                </button>
            </div>
        </div>
    </div>
</div> -->

<div class="container" style="border:1px solid #cecece;">
<table class="table table-condensed table-hover">
        <tbody>
          <tr class="table-light">
            <!-- <th scope="row">Light</th> -->
            <td class="one">Student-Id:</td>
            <td>{{student.studentId}}</td>
            <td></td>
          </tr>
          <tr class="table-light">
            <td class="one">Name:</td>
            <td>{{student.name}}</td>
            <td></td>
          </tr>
          <tr class="table-light">
            <td class="one">Email:</td>
            <td>{{student.email}}</td>
            <td></td>
          </tr>
          <tr class="table-light">
            <td class="one">Gpa:</td>
            <td>{{student.gpa}}</td>
            <td></td>
        </tr>
        </tbody>
      </table>
      <div class='panel-footer'>
            <button type="button"
                class="btn btn-primary"
                (click)='onBack()'
                >Back
            </button>
            <button type="button"
                class="btn btn-primary"
                (click)="editStudent()">Edit
            </button>
        </div>
    </div>
